
	<section class="page gallery page--gallery page--main-color" id="gallery">
		<h1 class="page__title title--white">Gallery</h1>
		<div class="content--white">
			<div class="content">
				<div class="content--cf gallery--content">

					<div class="slide__img" style="background-image:url(<%- utils.url %>/assets/img/slide-1.jpg)">
						<a class="malonebox" title="Slide 1" href="<%- utils.url %>/assets/img/slide-1.jpg"></a>
					</div>


					<div class="slide__img" style="background-image:url(<%- utils.url %>/assets/img/slide-2.jpg)">
						<a title="Slide 2" class="malonebox" href="<%- utils.url %>/assets/img/slide-2.jpg"></a>
					</div>


					<div class="slide__img" style="background-image:url(<%- utils.url %>/assets/img/slide-3.jpg)">
						<a title="Slide 3" class="malonebox" href="<%- utils.url %>/assets/img/slide-3.jpg"></a>
					</div>
				</div>

			</div>
		</div>

	</section>
